<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common :: head"></head>
<body><div class="wrap">
<header th:include="common/common :: header"></header>

<main>
	<div class="inner">
		<section class="box profile">
		
			<h2 th:text="#{profile}">Profile</h2>
			
			<div class="profile_top">
				<div class="icon">
					<th:block th:if="${profile == null || profile.icon == null}">
						<div class="icon_img" th:style="'background: url(' + @{/img/user.png} + ') no-repeat center/cover;'"></div>
					</th:block>
					<th:block th:unless="${profile == null || profile.icon == null}">
						<div class="icon_img" th:style="'background: url(' + @{'/icon/' + ${profile.icon}} + ') no-repeat center/cover;'"></div>
					</th:block>
				</div>
				
				<th:block th:if="${#lists.contains(user.followerList, self)}">
					<button id="unfollow" class="button" th:followedId="${user.id}" th:text="#{following}">Following</button>
					<input type="hidden" id="unfollow_mes" th:value="#{unfollow}">
				</th:block>
				<th:block th:unless="${#lists.contains(user.followerList, self)}">
					<button id="follow" class="button" th:followedId="${user.id}" th:text="#{follow}">Follow</button>
				</th:block>
			</div>
			
			<th:block th:if="${profile == null || profile.name == null}">
				<p class="profile_name" th:text="${user.userName}"></p>
			</th:block>
			<th:block th:unless="${profile == null || profile.name == null}">
				<p class="profile_name" th:text="${profile.name}"></p>
				<p class="user_name" th:text="${user.userName}"></p>
			</th:block>
			
			<th:block th:if="${profile != null && profile.profile != null}">
				<p class="profile_content" th:text="${profile.profile}"></p>
			</th:block>
			
			<div class="numbers">
				<div class="following_number">
					<a th:href="@{'/user/' + ${user.userName} + '/following'}">
						<span th:text="${following}"></span>
						<th:block th:if="${following == 0 || following == 1}">
							<span th:text="#{following_number}">Following</span>
						</th:block>
						<th:block th:unless="${following == 0 || following == 1}">
							<span th:text="#{following_numbers}">Followings</span>
						</th:block>
					</a>
				</div>
				<div class="follower_number">
					<a th:href="@{'/user/' + ${user.userName} + '/follower'}">
						<span th:text="${follower}"></span>
						<th:block th:if="${follower == 0 || follower == 1}">
							<span th:text="#{follower_number}">Follower</span>
						</th:block>
						<th:block th:unless="${follower == 0 || follower == 1}">
							<span th:text="#{follower_numbers}">Followers</span>
						</th:block>
					</a>
				</div>
			</div>
			
			<div class="tabs">
				<div class="tab active_tab" th:text="#{tweet}">Tweet</div>
				<a th:href="@{'/user/' + ${user.userName} + '/like'}" class="tab" th:text="#{like}">Like</a>
			</div>
			
			<th:block th:if="${tweets.isEmpty}">
				<p class="no_shows" th:text="#{no_tweet}">There's no tweet</p>
			</th:block>
			<th:block th:unless="${tweets.isEmpty}">
				<div class="profile_tweets">
					<div class="profile_tweet" th:each="tweet:${tweets}">
						<div class="tweet_prof">
							<div class="tweet_prof_link">
								<th:block th:if="${tweet.user.profile == null || tweet.user.profile.icon == null}">
									<div class="tweet_icon" th:style="'background: url(' + @{/img/user.png} + ') no-repeat center/cover;'"></div>
								</th:block>
								<th:block th:unless="${tweet.user.profile == null || tweet.user.profile.icon == null}">
									<div class="tweet_icon" th:style="'background: url(' + @{'/icon/' + ${tweet.user.profile.icon}} + ') no-repeat center/cover;'"></div>
								</th:block>
							
								<th:block th:if="${tweet.user.profile == null || tweet.user.profile.name == null}">
									<span th:text="${tweet.user.userName}"></span>
								</th:block>
								<th:block th:unless="${tweet.user.profile == null || tweet.user.profile.name == null}">
									<span th:text="${tweet.user.profile.name}"></span>
								</th:block>
							</div>
						</div>
						
						<div class="tweet_content">
							<a th:href="@{'/tweet/' + ${tweet.id}}">
								<p th:text="${tweet.content}"></p>
							</a>
						</div>
						
						<div class="tweet_time">
							<p th:utext="${#strings.substring(tweet.createdAt,0,19)}"></p>
						</div>
						
						<div class="tweet_like">
							<div class="tweet_like_left">
								<th:block th:if="${#lists.isEmpty(tweet.likerList)}">
									<th:block th:if="${#lists.contains(tweet.likerList, self)}">
										<img th:src="@{/img/unlike.png}" class="unlike_btn" th:tweetId="${tweet.id}">
									</th:block>
									<th:block th:unless="${#lists.contains(tweet.likerList, self)}">
										<img th:src="@{/img/like.png}" class="like_btn" th:tweetId="${tweet.id}">
									</th:block>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(tweet.likerList)}">
									<th:block th:if="${#lists.contains(tweet.likerList, self)}">
										<img th:src="@{/img/unlike.png}" class="unlike_btn" th:tweetId="${tweet.id}">
										<div class="tweet_like_list">
											<a th:href="@{'/tweet/' + ${tweet.id} + '/like'}">
												<span th:text="${#lists.size(tweet.likerList)}"></span>
												<span th:text="#{like}"></span>
											</a>
										</div>
									</th:block>
									<th:block th:unless="${#lists.contains(tweet.likerList, self)}">
										<img th:src="@{/img/like.png}" class="like_btn" th:tweetId="${tweet.id}">
										<div class="tweet_like_list">
											<a th:href="@{'/tweet/' + ${tweet.id} + '/like'}">
												<span th:text="${#lists.size(tweet.likerList)}"></span>
												<span th:text="#{like}"></span>
											</a>
										</div>
									</th:block>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</th:block>
			
		</section>
	</div>
</main>

<footer th:include="common/common :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/js/favorite.js}"></script>
<script type="text/javascript" th:src="@{/js/follow.js}"></script>
</body>
</html>
