@import 'variables';
@import 'header';
@import 'devise';
@import 'profile';
@import 'profile_form';

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	line-height: 1;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

.wrap {
	overflow: hidden;  
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease 0s;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="search"], input[type="text"], input[type="email"], input[type="submit"], textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}
	 
input[type="search"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-decoration,
input[type="email"]::-webkit-search-decoration,
input[type="submit"]::-webkit-search-decoration,
textarea::-webkit-search-decoration {
	display: none;
}

.inner {
	width: calc(100% - 60px);
	margin: 0 auto;
}

.notice, .alert {
	background-color: orange;
	color: $white;
	text-align: center;
	line-height: 40px;
	width: 100%;
	height: 40px;
}

main {
	background-color: $base;
	text-align: center;
	width: 100%;
	height: 100vh;
	padding-top: 60px;

	h1 {
		font-size: 26px;
		color: $white;
	}

	img {
		display: inline-block;
		width: 200px;
		padding-top: 60px;
	}
}
