@import 'variables';

.profile_form {
	padding-top: 30px;
	max-width: 500px;

	form {
		.field {
			label {
				color: $base;
			}

			input, textarea {
				width: 500px;
				border: 1px solid $base;
				border-radius: 3px;
				padding: 5px 10px;
				margin-top: 5px;

				@media screen and (max-width: 767px) {
					width: 100%;
				}
			}

			textarea {
				height: 100px;
				outline: none;
			}
		}
	}
}
