@import 'variables';

.profile {
	position: relative;
	text-align: center;
	max-width: 300px;

	.account_name {
		font-size: 16px;
		color: $base;
		padding: 60px 0 10px;
	}

	.profile_edit {
		display: inline-block;
		position: absolute;
		top: 130px;
		right: 20px;
		background-color: $white;
		color: $base;
		font-size: 16px;
		font-weight: bold;
		border: 2px solid $base;
		border-radius: 5px;
		padding: 3px 10px 2px;
		transition: all 0.3s;

		&:hover {
			background-color: $base;
			color: $white;
		}
	}

	.follow_btn {
		right: 0;
	}
	
	.profile_image {
		display: inline-block;
		width: 100px;
		border-radius: 50%;
	}

	.user_name {
		font-size: 20px;
		font-weight: bold;
		color: $base;
		margin: 10px 0 20px;
	}

	.user_introduction {
		font-size: 16px;
		margin-bottom: 0px;
	}

	.user_birthday {
		font-size: 14px;
		color: $base;
		margin-bottom: 20px;
	}

	.profile_infos {
		display: flex;
		justify-content: center;

		.profile_info {
			margin-right: 30px;

			span {
				color: $base;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
