@import 'variables';

.tweets_index, .tweet_show {
    max-width: 500px;
    margin: 30px auto;

    .tweet {
        border-bottom: 1px solid $base;
        padding: 10px;

        &:first-child {
            border-top: 1px solid $base;
        }

        .tweet_top {
            display: flex;
            align-items: center;

            &_icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }

            &_name {
                font-size: 14px;
                color: $base;
            }
        }

        .tweet_created {
            font-size: 12px;
            text-align: right;
            margin-top: 10px;
        }

        .tweet_content {
            p {
                text-align: left;
                margin-top: 20px;
            }

            .tweet_images {
                margin-top: 10px;

                .tweet_image {
                    padding: 10px 0 5px;
                }
            }
        }
    }
}
