@import 'variables';

.tweet_show {
	padding-top: 60px;

	.tweet {
		position: relative;
		border: none;

		&:first-child {
			border-top: none;
		}

		.tweet_top {

			&_icon {
				width: 50px;
			}

			&_name {
				font-size: 18px;
			}
		}

		.tweet_action {
			position: absolute;
			top: 35px;
			right: 10px;

			.dropdown {
				text-align: right;

				.drop_btn {
					width: 22px;
					cursor: pointer;
				}

				.dropdown_content {
					display: none;
					position: relative;
					top: -10px;
					border: 1px solid $base;
					border-radius: 5px;

					a {
						display: block;
						background-color: $white;
						color: $base;
						font-size: 16px;
						border-radius: 3px;
						padding: 2px 10px 3px;
						transition: all 0.3s;

						&:hover {
							background-color: $base;
							color: $white;
						}
					}
				}

				&:hover .dropdown_content {
					display: block;
				}
			}
		}

		.tweet_created {
			font-size: 14px;
		}

		.tweet_content {
			p {
				font-size: 18px;
			}

			.tweet_images {
				.tweet_image {
					padding: 10px;
				}
			}
		}
	}
}
