%p
  こんにちは #{@resource.email}!
%p パスワードの変更がリクエストされました。下のリンクから行うことができます。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p これを行ったのがあなたでない場合は無視してください。
%p あなたが下のリンクへアクセスして新しくパスワードを作らない限り、パスワードは変更されません。
